@media screen and (max-width: 768px) {
    .container {
        width: 90% !important;
    }
}
@media screen and (max-width: 992px) {
    footer .container {
        width: 75% !important;
    }
}
@media screen and (min-width: 992px) {
    footer .container {
        width: 80% !important;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}